header {
text-align: center;
}

ul {
text-align: center;
}

#menu li {
list-style: none; 
display: inline-block;
}

#menu li a {
padding: 5px 100px; 
margin: 0px;
background: gold;
text-decoration: none;
color:black;
/* cantos arredondados */
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

#welcome {
text-align: center;
padding: 100px;
font-size: 30px;
font-style: italic;
color: goldenrod;
}

#textoinicial {
text-align: center;
padding: 150px;
font-size: 30px;
font-style: italic;
color: goldenrod;
}

#navimg li{
padding: 2px;
display: inline-block;
}

#navimg li img {
    width: 300px;
    height: 200px;
    border: 5px;
    border-color: goldenrod;
    border-style: solid;
}

#textofinal {
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-style: italic;
    color: goldenrod;
    }

footer {
    background-color: gold;
    text-align: right;
    float: inline-end;
}

#redes {
    width: 80%;
    text-align: center;
}

#redes img {
    width: 2%;
    float: left;
}

#redes ul li {
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
}

.clearfix::after {
    display: table;
    float: none;
    content: "";
    clear: both;
    overflow: auto;
  }